<div class="main-page-header">
  <div class="header-text">
    <h1>_ARCHITEKT</h1>
    <p>Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme</p>
  </div>
  <div class="header-photo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Hawaii_Maui_Makena_Big_Beach_%2822649774315%29.jpg">
  </div>
</div>