
{{#unless login}}
  <div class="login-bar">
    <form class='form-div' action="/login" method="post">
      <div class="username-input">Username: <input type="text" name="username"></div>
      <div class="password-input">Password: <input type="password" name="password"></div>
      <div class="input-button"><input type="submit" value="Sign In"></div>
      <a href="/login/new"><div class="new-user-button">Sign Up Now</div></a>
    </form>
  </div>
{{/unless}}

{{#if login}}
  <div class="login-bar">
    <p>
      Hi {{login.firstname}}
    </p>
    <a href="/logout">Log Out User</a>
  </div>
{{/if}}