<div class="sub-titles">
  <h1>Post A New Image</h1>
</div>
<div class="newPage">
  <form action="/gallery" method="post">
    <input type="text" name="title" placeholder="Title"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="text" name="imgUrl" placeholder="Link To Image"><br>
    <input type="submit" value="Submit">
  </form>
</div>