<div class="header-photo">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Hawaii_Maui_Makena_Big_Beach_%2822649774315%29.jpg">
</div>
{{#unless photos}}
  <div class="notFound">NO PHOTOS IN GALLERY</div>
{{/unless}}

<div class="allPhotos">
  {{#each photos}}
    <div class="listView">
      <a href="/gallery/{{id}}" class='linkButtons'><div class='each-photo' style="background: url({{imgUrl}}) no-repeat center; background-size: cover;"></div></a>
      <h2>Title: {{title}} - Author: {{author}}</h2>
    </div>
  {{/each}}
</div>

<div class="new-link">
  <a href="/gallery/new" class='linkButtons'><div class="addNew">Add New Photo</div></a>
</div>